$sprites-url: url("/images/sprites.png");

$sprites-width: 300px;
$sprites-height: 806px;

$sprites-acc_arrow_dark-x: 0px;
$sprites-acc_arrow_dark-y: 0px;
$sprites-acc_arrow_dark-width: 24px;
$sprites-acc_arrow_dark-height: 30px;

$sprites-acc_check-x: 0px;
$sprites-acc_check-y: -30px;
$sprites-acc_check-width: 24px;
$sprites-acc_check-height: 30px;

$sprites-acc_editing-x: 0px;
$sprites-acc_editing-y: -60px;
$sprites-acc_editing-width: 24px;
$sprites-acc_editing-height: 30px;

$sprites-acc_minus_dark-x: 0px;
$sprites-acc_minus_dark-y: -90px;
$sprites-acc_minus_dark-width: 24px;
$sprites-acc_minus_dark-height: 30px;

$sprites-acc_plus-x: 0px;
$sprites-acc_plus-y: -120px;
$sprites-acc_plus-width: 24px;
$sprites-acc_plus-height: 30px;

$sprites-acc_plus_dark-x: 0px;
$sprites-acc_plus_dark-y: -150px;
$sprites-acc_plus_dark-width: 24px;
$sprites-acc_plus_dark-height: 30px;

$sprites-amex-x: 0px;
$sprites-amex-y: -180px;
$sprites-amex-width: 50px;
$sprites-amex-height: 36px;

$sprites-blog-x: 0px;
$sprites-blog-y: -216px;
$sprites-blog-width: 32px;
$sprites-blog-height: 32px;

$sprites-cart-x: 0px;
$sprites-cart-y: -248px;
$sprites-cart-width: 100px;
$sprites-cart-height: 100px;

$sprites-disc-x: 0px;
$sprites-disc-y: -348px;
$sprites-disc-width: 50px;
$sprites-disc-height: 36px;

$sprites-facebook-x: 0px;
$sprites-facebook-y: -384px;
$sprites-facebook-width: 32px;
$sprites-facebook-height: 32px;

$sprites-flag-x: 0px;
$sprites-flag-y: -416px;
$sprites-flag-width: 300px;
$sprites-flag-height: 92px;

$sprites-master-x: 0px;
$sprites-master-y: -508px;
$sprites-master-width: 50px;
$sprites-master-height: 36px;

$sprites-menu-x: 0px;
$sprites-menu-y: -544px;
$sprites-menu-width: 100px;
$sprites-menu-height: 100px;

$sprites-phone-x: 0px;
$sprites-phone-y: -644px;
$sprites-phone-width: 24px;
$sprites-phone-height: 30px;

$sprites-pinterest-x: 0px;
$sprites-pinterest-y: -674px;
$sprites-pinterest-width: 32px;
$sprites-pinterest-height: 32px;

$sprites-search-x: 0px;
$sprites-search-y: -706px;
$sprites-search-width: 100px;
$sprites-search-height: 100px;

@mixin sprites-acc_arrow_dark() {
  background: url("/images/sprites.png") no-repeat 0px 0px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-acc_check() {
  background: url("/images/sprites.png") no-repeat 0px -15px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-acc_editing() {
  background: url("/images/sprites.png") no-repeat 0px -30px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-acc_minus_dark() {
  background: url("/images/sprites.png") no-repeat 0px -45px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-acc_plus() {
  background: url("/images/sprites.png") no-repeat 0px -60px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-acc_plus_dark() {
  background: url("/images/sprites.png") no-repeat 0px -75px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-amex() {
  background: url("/images/sprites.png") no-repeat 0px -180px;
  width: 50px;
  height: 36px;
}

@mixin sprites-blog() {
  background: url("/images/sprites.png") no-repeat 0px -108px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

@mixin sprites-cart() {
  background: url("/images/sprites.png") no-repeat 0px -124px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}

@mixin sprites-disc() {
  background: url("/images/sprites.png") no-repeat 0px -348px;
  width: 50px;
  height: 36px;
}

@mixin sprites-facebook() {
  background: url("/images/sprites.png") no-repeat 0px -192px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

@mixin sprites-flag() {
  background: url("/images/sprites.png") no-repeat 0px -208px;
  @include background-size(150px 403px);
  width: 150px;
  height: 46px;
}

@mixin sprites-master() {
  background: url("/images/sprites.png") no-repeat 0px -508px;
  width: 50px;
  height: 36px;
}

@mixin sprites-menu() {
  background: url("/images/sprites.png") no-repeat 0px -272px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}

@mixin sprites-phone() {
  background: url("/images/sprites.png") no-repeat 0px -322px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

@mixin sprites-pinterest() {
  background: url("/images/sprites.png") no-repeat 0px -337px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

@mixin sprites-search() {
  background: url("/images/sprites.png") no-repeat 0px -353px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}

.sprites-acc_arrow_dark {
  background: url("/images/sprites.png") no-repeat 0px 0px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-acc_check {
  background: url("/images/sprites.png") no-repeat 0px -15px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-acc_editing {
  background: url("/images/sprites.png") no-repeat 0px -30px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-acc_minus_dark {
  background: url("/images/sprites.png") no-repeat 0px -45px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-acc_plus {
  background: url("/images/sprites.png") no-repeat 0px -60px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-acc_plus_dark {
  background: url("/images/sprites.png") no-repeat 0px -75px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-amex {
  background: url("/images/sprites.png") no-repeat 0px -180px;
  width: 50px;
  height: 36px;
}

.sprites-blog {
  background: url("/images/sprites.png") no-repeat 0px -108px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

.sprites-cart {
  background: url("/images/sprites.png") no-repeat 0px -124px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}

.sprites-disc {
  background: url("/images/sprites.png") no-repeat 0px -348px;
  width: 50px;
  height: 36px;
}

.sprites-facebook {
  background: url("/images/sprites.png") no-repeat 0px -192px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

.sprites-flag {
  background: url("/images/sprites.png") no-repeat 0px -208px;
  @include background-size(150px 403px);
  width: 150px;
  height: 46px;
}

.sprites-master {
  background: url("/images/sprites.png") no-repeat 0px -508px;
  width: 50px;
  height: 36px;
}

.sprites-menu {
  background: url("/images/sprites.png") no-repeat 0px -272px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}

.sprites-phone {
  background: url("/images/sprites.png") no-repeat 0px -322px;
  @include background-size(150px 403px);
  width: 12px;
  height: 15px;
}

.sprites-pinterest {
  background: url("/images/sprites.png") no-repeat 0px -337px;
  @include background-size(150px 403px);
  width: 16px;
  height: 16px;
}

.sprites-search {
  background: url("/images/sprites.png") no-repeat 0px -353px;
  @include background-size(150px 403px);
  width: 50px;
  height: 50px;
}
